/* body {
    font-family: sans-serif;
    width: 100%;
    background-image: url('../img/');

}

h1 {
    margin: ;
    padding: ;

}
#burger {
    float: left;
}
#devour {
    float: left;
}
li {
    list-style-type: ;
    font-size: 22px;
    color: ;
    
} */