
html {
    width: 100%;
    height: 100%;
    margin: 0%;
}
 body {
     margin:0%;
    font-family: 'Times New Roman', Times, serif;
    width: 100%!important;
    height: 95vh!important;
    background-image: url('../img/cheeseburger.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
  
}


h1 {
    font-size: 8em;
    font-family: 'Germania One', cursive;
    text-align: center;
}
h3 {
    text-align: center;
    font-family: 'Germania One';
}
#devour {
    float: left;
}
li {
    font-size: 22px;
  
    
} 
.myfade{
    background-color: rgba(255, 255, 255, 0.584)
}